@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

html,
body {
	margin: 0;
	padding: 0;

	color: var(--black);
	background: #F5F6F8;

	font-family: "Open Sans", sans-serif;
	scroll-behavior: smooth;
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

.visualyHidden {
	position: absolute;

	overflow: hidden;

	width: 0;
	height: 0;
}

:root {
	--black: #3B434E;
	--grey-light: #EBEBEB;
	--grey: #A4A4A4;
	--grey-dark: #6C7077;
	--white: white;
	--primary: #7351F5;
	--primary-hover: #6946F5;
	--red-light: #FEA291;
	--red: #FC836D;
	--green: #007B48;
	--green-light: #C8F8E4;
	--font-family: "Open Sans", sans-serif;
}
